name: Update logos
on:
  push:
    branches: [ main ]
    paths:
      - doc/logo.svg
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - name: Build
      run: |
        sudo apt install inkscape imagemagick
        inkscape doc/logo.svg --export-filename=doc/images/2400x2400@300dpi.png --export-dpi=300 --export-width=2400 --export-height=2400 --export-background-opacity=0"
        inkscape doc/logo.svg --export-filename=doc/images/1000x1000.png --export-dpi=96 --export-width=1000 --export-height=1000 --export-background-opacity=0"
        convert doc/images/1000x1000.png -resize 200x200 doc/images/200x200.png
        convert doc/images/1000x1000.png -resize 128x128 doc/images/128x128.png
        convert doc/images/1000x1000.png -resize 48x48 doc/images/48x48.png
        convert doc/images/1000x1000.png -resize 16x16 doc/images/16x16.png
